footer{
  background-color: #21ae49;
  color: white;

  padding: 4%;
  .identity{
    max-width: 50%;
    img{
      width: 70%;
    }
    p{
      line-height: 1.5rem;
      font-weight: 400;
      margin-top: 10%;
    }
  }
  .menu{
    list-style-type: none;
    margin: 0 10%;
    font-size: 1.2rem;
    li{
      padding: 5% 0;
    }
  }
  .social{
    margin-top: -3%;
    h5{
      font-size: 1.3rem;
    }
  }

}

@media only screen and (max-width:460px){
  .hide-small{
    display: none;
  }
  footer{
    flex-direction: column;
    max-width: 100%;
    .identity{
      width: 100%;
    }
    .menu{
      width: 100%;

    }
  }
}
