<footer class="flex">
  <div class="identity">
    <img src="../../../assets/Logo/BigLogoWhite.svg">
    <p>A HouseManager 2022-ben kezdte meg a működését. Ügyfeleinknek minden ügyintézésben segítünk, ami az ingatlanokkal kapcsolatos. Legyen ez meglévő ingatlanok ügyei, felújítás, eladás, kiadás, új ingatlan vásárlás (akár ingatlanos bevonásával), hitelügyintézés, költöztetés. Szolgáltatásainkról ezen az oldalon olvashat bővebben.</p>
  </div>
  <ul class="menu">
    <a routerLink="/allhomes"><li>Ingatlanok</li></a>
    <a routerLink="/allexperts"><li>Szakemberek</li></a>
    <a routerLink="/moving"><li>Költöztetés</li></a>
    <a routerLink="/services"><li>Szolgáltatások</li></a>
  </ul>
  <div class="social hide-small">
    <h5>Kövess minket a közösségi médiában!</h5>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>LinkedIn</p>
  </div>
</footer>
