<section>
  <div class="grey-box">
    <h1>Bejelentkezés</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="login-form">
        <label>E-mail cím</label>
        <input type="email" matInput placeholder="valami@gmail.com" name="email" formControlName="email">
        <label>Jelszó</label>
        <input type="password" matInput placeholder="Jelszó" name="password" formControlName="password">
      <button mat-button type="submit">Belépés</button>
    </form>
    <button (click)="showGoogleLogin()" class="google-btn" mat-button>Google Belépés</button>
    <p class="small">Nincs még fiókod? <a routerLink='/signup'>Regisztráció</a> </p>
  </div>
</section>
