<section class="card container">

<form [formGroup]="phoneForm" (ngSubmit)="submitForm()">
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step label="Telefonszám megadás">
    <div class="content flex col">
      <h2>Kérjük add meg a telefonszámod!</h2>
      <input class="input" type="phone" formControlName="phone" name="phone" [(ngModel)]="phoneNumber" placeholder="+36 1 222 3333">
      <button *ngIf="phoneNumber.length > 0" type="button" class="primary-btn" mat-button>Tovább</button>
      <button *ngIf="phoneNumber.length == 0" mat-button class="secondary-btn" type="button" matStepperNext>Kihagyás</button>
    </div>
  </mat-step>
  <mat-step  label="Töltsd fel a profilképed!">
    <div class="content flex col">
      <img [src]="this.image">
      <input type="file" class="input" formControlName="avatar" name="avatar" (change)="onFileChanged($event)">
      <button *ngIf="this.file" type="button" mat-button class="primary-btn" (click)="uploadImageToStorage(this.file)" matStepperNext>Feltöltés</button>
      <button *ngIf="!this.file" mat-button matStepperNext type="button" class="secondary-btn" >Kihagyás</button>
    </div>

  </mat-step>
  <mat-step label="Regisztráció befejezése">
    <div class="content flex col">
      <h2>Minden rendben!</h2>
      <h4>Jelentkezz be és használd a House Manager szolgáltatásait.</h4>
      <button type="submit" mat-button class="primary-btn login-btn">Bejelentkezés</button>
    </div>
  </mat-step>

</mat-stepper>
</form>

</section>
