.container{
  margin: 2% 10%;
  padding: 2%;
  .content{
    width: 100%;
    justify-content: centers;
    align-items: center;
    padding: 3% 0;
    h2{
      text-align: center;
    }
    h4{
      text-align: center;
      font-size: 1.3rem;
    }
    input{
      margin: 3% 0;
      width: 25%;
    }
    button{
      padding: 1% 3%;
      cursor: pointer;
    }
    .login-btn{
      font-size:1rem;
      padding: 15% 20%;
    }
    img{
      padding: 2%;
      width: 200px;
      border-radius: 200px;
      box-shadow: 0 0 6px grey;
    }
  }
}
