<section class="card container">

<form [formGroup]="phoneForm" (ngSubmit)="submitForm()">
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step label="Telefonszám megadás">
    <div class="content flex col">
      <h2>Kérjük add meg a telefonszámod!</h2>
      <input class="input" type="phone" formControlName="phone" name="phone" placeholder="+36 1 222 3333">
      <button mat-button class="secondary-btn" matStepperNext>Kihagyás</button>
    </div>
  </mat-step>
  <mat-step  label="Töltsd fel a profilképed!">
    <div class="content flex col">
      <img [src]="this.image">
      <input type="file" formControlName="avatar" name="avatar">
      <button mat-button matStepperNext class="secondary-btn" >Kihagyás</button>
    </div>

  </mat-step>
  <mat-step label="Regisztráció befejezése">
    <div class="content">
      <h2>Minden rendben!</h2>
      <h4>Jelentkezz be és használd a House Manager szolgáltatásait.</h4>
      <a routerLink="/login"><button mat-button></button></a>
    </div>
  </mat-step>

</mat-stepper>
</form>

</section>
