<section class="card services-card">
  <h1>Ismerje meg szolgáltatásainkat!</h1>
  <div class="card service-container" *ngFor="let i of services" [id]='i.tag'>
    <img [src]="i.img">
    <div class="texts">
      <h3>{{i.name}}</h3>
      <p>Pretium nibh ipsum consequat nisl vel pretium lectus quam. Tempor orci dapibus ultrices in iaculis nunc sed. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Enim praesent elementum facilisis leo vel. Risus feugiat in ante metus dictum at tempor. Eget mi proin sed libero enim sed faucibus. Enim diam vulputate ut pharetra sit. Mauris augue neque gravida in fermentum.</p>
    </div>
  </div>
</section>
