.form-container{
  margin: 1% 3%;

  .expansion-content{
    padding: 1% 3%;
    label{
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      margin: 2% 0;
    }
    mat-radio-button{
      padding-right: 10%;
    }
    input, select{
      width: 70%;
    }
    button{
      margin: 3% 0;
      width: 20%;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}

.image-preview{
  width: 20%;
  margin: 5%;
  img{
    width: 100%;
  }
  .icon{
    float: right;

  }
}
