<div class="form-container">
  <form [formGroup]="uploadHome" (ngSubmit)="submitUpload()">
    <div class="form-flex-container">
    <div class="flex-container">
      <h3>Típus, cím</h3>
      <div class="radio-group">
        <mat-label for="type">Hirdetés típusa</mat-label>
        <mat-radio-group name="type" formControlName="type"  [(ngModel)]="homeType">
          <mat-radio-button class="radio-btn" value="elado" #eladoButton [checked]="this.editableHome && this.editableHome.type == 'elado'">
            Eladó
          </mat-radio-button>
          <mat-radio-button class="radio-btn" value="kiado" #kiadoButton [checked]="this.editableHome && this.editableHome.type == 'kiado'">
            Kiadó
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Város</mat-label>
        <input matInput required formControlName="city" [style.text-transform]="'capitalize'">
        <mat-error *ngIf="this.uploadHome.get('city')?.hasError('required')">Város megadása kötelező!</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="this.uploadHome.get('city')?.value === 'Budapest'" appearance="outline" >
        <mat-label>Kerület</mat-label>
        <mat-select matInput formControlName="city2" >
          <mat-option *ngFor="let x of city2" [value]="x">
            {{x}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Utca</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Ingatlan állapota</mat-label>
        <mat-select formControlName="condition">
          <mat-option *ngFor="let con of this.condition" [value]="con">
            {{con}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.uploadHome.get('condition')?.hasError('required')">Az állapot kiválasztása kötelező!</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Épület típusa</mat-label>
        <mat-select formControlName="buildingType">
          <mat-option *ngFor="let types of this.buildingType" [value]="types">
            {{types}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.uploadHome.get('buildingType')?.hasError('required')">Épület típusának kiválasztása kötelező!</mat-error>
      </mat-form-field>
    </div>

    <div class="flex-container">
      <h3>Méret, szobák száma</h3>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Ingatlan területe</mat-label>
        <input matInput formControlName="size" type="number">
        <span matSuffix>négyzetméter</span>
        <mat-error *ngIf="this.uploadHome.get('size')?.hasError('required')">Méret megadása kötelező!</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Hálószobák száma</mat-label>
        <input matInput formControlName="bedroom" type="number">
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Fürdőszobák száma</mat-label>
        <input matInput formControlName="bathroom" type="number">
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Épület szintjei</mat-label>
        <input matInput formControlName="levelsInBuilding" type="number">
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Ingatlan emelete</mat-label>
        <input matInput formControlName="level" type="number" [max]="this.uploadHome.get('levelsInBuilding')?.value">
      </mat-form-field>
    </div>

    <div class="flex-container">
      <h3>További adatok</h3>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Fütés típusa</mat-label>
        <mat-select formControlName="heatingType">
          <mat-option *ngFor="let het of this.heating" [value]="het">
            {{het}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Parkolás</mat-label>
        <mat-select formControlName="parking">
          <mat-option *ngFor="let park of this.parking" [value]="park">
            {{park}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="radio-group">
        <label for="elevator">Lift</label>
        <mat-radio-group name="elevator" formControlName="elevator">
          <mat-radio-button class="radio-btn" *ngFor="let x of yesno" [value]="x.value">
            {{x.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="radio-group">
        <label for="attic">Pince/Padlázs</label>
        <mat-radio-group name="attic" formControlName="attic">
          <mat-radio-button class="radio-btn" *ngFor="let x of yesno" [value]="x.value">
            {{x.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="radio-group">
        <label for="balcony">Erkély/Terasz</label>
        <mat-radio-group name="balcony" formControlName="balcony">
          <mat-radio-button class="radio-btn" *ngFor="let x of yesno" [value]="x.value">
            {{x.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="radio-group">
        <label for="garden">Kert</label>
        <mat-radio-group name="garden" formControlName="garden">
          <mat-radio-button class="radio-btn" *ngFor="let x of yesno" [value]="x.value">
            {{x.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="radio-group">
        <label for="airCond">Légkondicionáló</label>
        <mat-radio-group name="airCCond" formControlName="ac">
          <mat-radio-button class="radio-btn" *ngFor="let x of yesno" [value]="x.value">
            {{x.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="homeType==='kiado'" class="radio-group">
        <label for="smoke" >Dohányzás megengedett</label>
        <mat-radio-group name="smoke" formControlName="smoke">
          <mat-radio-button class="radio-btn" *ngFor="let x of yesno" [value]="x.value">
            {{x.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div  *ngIf="homeType==='kiado'" class="radio-group">
        <label for="pet">Kisállat megengedett</label>
        <mat-radio-group name="pet" formControlName="pet">
          <mat-radio-button class="radio-btn" *ngFor="let x of yesno" [value]="x.value">
            {{x.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="flex-container">
      <h3>Ár, képek, leírás</h3>
      <mat-form-field  appearance="outline" class="form-field medium">
        <mat-label>Ár</mat-label>
        <input matInput formControlName="price" type="number">
        <span matSuffix>{{this.homeType === "elado" ? 'Millió Ft.' : 'Ezer Ft/hó'}}</span>
        <mat-error *ngIf="this.uploadHome.get('price')?.hasError('required')">Ár megadása kötelező!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Leírás</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <label>Képek</label>
      <input type="file" formControlName="images" multiple (change)="uploadFiles($event)">
      <div class="image-preview">
        <img *ngIf="imagesToShow && imagesToShow.length==0" [src]="this.noImage" class="no-img">
        <div *ngFor="let image of imagesToShow" class="image-container">
          <mat-icon class="icon" mat-icon-button (click)="removeImage(image)">cancel</mat-icon>
          <img [src]="this.image">
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button mat-button class="primary-btn" type="submit">{{this.editableHome ? 'Módosítás' : 'Feltöltés'}}</button>
    <button *ngIf="this.editableHome" mat-button class="warning-btn" type="button" (click)="deleteHome(this.editableHome._id)">Ingatlan törlése</button>
    <button mat-button class="secondary-btn" type="button" mat-dialog-close>Mégsem</button>
  </div>
  </form>
</div>
