.form-container{
  height: 600px;
  z-index: 2;
  .form-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .flex-container{
      width: 40%;
      padding: 0 2.5%;
      display: flex;
      flex-direction: column;
      .radio-group{
        display: flex;
        flex-direction: column;
        margin: 8px 0;
        .radio-btn{
          margin: 8px;
        }
      }
      .image-preview{
        .no-img{
          width: 80%;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .image-container{
          min-height:fit-content;
          position: relative;
          width:46%;
          margin: 1%;
          img{
            width: 100%;
            object-fit: contain;
          }
          .icon{
            cursor: pointer;
            position: relative;
            top: 25px;
            z-index: 2;
            float: right;
            right: 5px;
            color: white;
            &:hover{
              color: #ddd;
            }
          }
        }

      }
    }
  }
  .buttons{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button{
      padding: 15px 20px;
      font-size: 1rem;
      margin: 16px;
      cursor: pointer;
    }
  }

}

@media only screen and (max-width:460px){
  .form-container{
    .form-flex-container{
      flex-direction: column;
      justify-content: stretch;
      .flex-container{
        width: 100%;
      }
    }
    .buttons{
      flex-direction: column;
      justify-content: stretch;
    }
  }

}
