.dialog-content{
  flex-direction: column;

  max-height: 80vh;
  overflow-y: scroll;
  .saved-experts{
    display: flex;
    flex-direction: column;
    align-items: center;
    .expert-card{
      width: 90%;
    }
  }
}
