<div class="content flex">
    <div class="left-side card flex">
        <div class="rect card flex">
            <img src="../../../assets/Logo/GreenWhiteLogo.png">
            <h4>Üdv, {{user?.firstName}} {{user?.lastName}}!</h4>
        </div>
        <div class="user-menu">
            <p>Adataim módostása</p>
            <p>Profilkép feltöltése</p>
            <p (click)="logOut()">Kijelentkezés</p>
        </div>
    </div>
    <div class="right-side card flex">
        <a routerLink="/savedhomes" class="tile green flex"><div>
            <h4>Mentett Ingatlanok</h4>
        </div></a>
        <a routerLink="/" class="tile white flex"><div>
            <h4>Feltöltött Ingatlanok</h4>
        </div></a>
        <a routerLink="/" class="tile green flex"><div>
            <h4>Üzenetek</h4>
        </div></a>
        <a routerLink="/" class="tile yellow flex"><div>
            <h4>Mentett szakemberek</h4>
        </div></a>
    </div>
</div>