.user-home{
  margin: 2% 4%;
  padding: 1%;
  justify-content: space-between;
  .user-info{
    padding: 3%;
    align-items: center;
    img{
      border-radius: 300px;
      box-shadow: 0 0 10px grey;
      width: 90%;
      margin-bottom: 10%;
    }
    button{
      cursor: pointer;
    }
  }
  .user-menu{
    .tab-content{
      padding: 3%;
    }
  }
}
