.user-home{
  margin: 2% 4%;
  padding: 1%;
  justify-content: space-between;
  .user-info{
    width: 20%;
    padding: 3%;
    align-items: center;
    img{
      border-radius: 10px;
      box-shadow: 0 0 10px grey;
      width: 90%;
      margin-bottom: 10%;
    }
    .buttons{
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      button{
        margin: 0.5% 0;
        cursor: pointer;
      }
    }

  }
  .user-menu{
    width: 80%;
    display: flex;
    flex-direction: column;
    .home-card-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .home-card{
        padding: 0;
        width: 23%;
        margin: 0 2%;
        img{
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          width: 100%;
        }
        .padding-box{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3,h4, h5{
            margin: 3% 0;
          }
          padding: 3% 3% 7% 3%;
          .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 5% 0;
            button{
              cursor: pointer;
            }
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 460px){
  .user-home{
    flex-direction: column;
    .user-info{
      width: 100%;
    }
    .user-menu{
      width:100%;
      align-items: center;
      h2{
        text-align: center;
      }
      .home-card-container{
        flex-direction: column;
        align-items: center;
        padding: 0 3%;
        .home-card{
          margin: 2% 0;
          width: 70%;
        }
      }
    }
  }
}
