section{
  margin: 3% 4%;
  padding: 5% 10%;
  h1{
    margin-bottom: 10%;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
  }
  .buttons{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    h5{
      font-size: .9rem;
    }
    button{
      &:first-child{
        border-radius: 30px;
        padding: 0.5% 7%;
        font-size: 1.1rem;
      }
      &:nth-child(2){
        border-radius: 30px;
        padding: 0.5% 7%;
        font-size: 1.1rem;
      }
    }
  }
}
