section{
    background: eee;
    margin: 2% 0;
    padding: 2% 30%;
    .box{
      h1{
        text-align: center;
      }
      .content{
        flex-direction: column;
        padding: 5%;
        .signup-form{
          flex-direction: column;
          label{
            font-weight: 300;
            margin: 2% 3%;
          }
          input{
            width: 80%;
            align-self: center;
          }
          button{
            margin: 5% 0;
            border-radius: 30px;
            width: 60%;
            align-self: center;
          }
        }
      }
      .small{
        font-size: .8rem;
        align-self: center;
        a{
          color: #21ea49;
          cursor: pointer;
          &:hover{
            color: #21ae498d;
          }
        }
      }
    }
}

