.search{
  margin: 2% 4%;
  padding: 0;
  .left-side{
    max-width: 46%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: url("../../../assets/img/martin-knize-JjT_7MwREm4-unsplash.jpg");
    background-position: center center;
    background-size: cover;
  .glass-box{
    width: 70%;
    backdrop-filter: blur(5px);
    background-color: white;
    background-color: rgba(254,254,254,0.35);
    opacity: 6;
    border: 1px solid white;
    margin: 2rem;
    border-radius: 15px;
    padding: 2rem;
    .numbers{
      flex-direction: column;
    }
    input{
      margin: 1rem 0;
      &.city{
        width: 90%;
      }
      &[type=number]{
        width: 30%;
        margin: 5% 5% 5% 0;
      }
    }
    .radio{
      flex-direction: column;
      mat-radio-button{
        margin: 3% 0;
        color: white;
        font-weight: 400;

      }
    }
    button{
      float: right;
      border-radius: 30px;
      margin-top: -20%;
      padding: 2% 10%;
    }
  }

  }
  .right-side{
    padding: 2rem 3rem;
    flex-direction: column;
    h3{
      font-size: 2.5rem;
      font-weight: 800;
    }
    h4{
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 6.5rem;
    }
    button{
      align-self: flex-end;
      border-radius: 30px;
      padding: .4rem 1rem;
    }
  }

}

.recom{
  margin: 2% 4%;
  padding: 1%;
  h3{
    padding-left: 5%;
    font-size: 1.5rem;
  }
  .container{
    justify-content: center;
  }
  .home-card{
    padding: 0 0 2% 0;
    width: 25%;
    margin: 2.5%;
    .card-img{
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
     p{
       padding: .5% 2%;
      &:nth-child(2){
        font-weight: 700;
        font-size: 18px;
     }
    }
    .icons{
      margin-top: 10%;
      padding: 1%;
      justify-content: space-around;
      align-items: center;
        div{
          align-items: center;
        }
        span{
          padding-left: 10%;
        }

  }
  }
}

.services{
  margin: 2% 4%;
  padding: 1%;
  h3{
    padding-left: 5%;
    font-size: 1.5rem;
  }
  .container{
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    .service-card{
      max-width: 25%;
      margin: 2% 2%;
      padding-top: 2%;
      box-shadow:0 0 4px #21ae49;
      h5{
        font-size: 1rem;
      }
    }
  }
}


