<section class="search card flex">
  <div class="left-side flex">
    <div class="glass-box search-box card flex">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <mat-form-field appearance="outline" class="mobile-city city">
          <mat-label>Város</mat-label>
          <input matInput formControlName="city" type="text">
        </mat-form-field>
        <mat-radio-group formControlName="type" class="radio flex">
          <mat-radio-button labelPosition="before" value="elado" name="elado">Eladó</mat-radio-button>
          <mat-radio-button labelPosition="before" value="kiado" name="kiado">Kiadó</mat-radio-button>
        </mat-radio-group>
        <div class="flex numbers">
          <div class="flex" formGroupName="size">
            <mat-form-field appearance="outline" class="small">
              <mat-label>Méret (min)</mat-label>
              <input matInput formControlName="minSize" type="number">
              <span matSuffix>NM</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="small">
              <mat-label>Méret (max)</mat-label>
              <input matInput formControlName="maxSize" type="number" >
              <span matSuffix>NM</span>
            </mat-form-field>
          </div>
          <div class="flex" formGroupName="price">
            <mat-form-field appearance="outline" class="small">
              <mat-label>Ár (min)</mat-label>
              <input matInput formControlName="minPrice" type="number">
              <span matSuffix>{{this.elado ? eladoTexts[0] : eladoTexts[1]}}</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="small">
              <mat-label>Ár (max)</mat-label>
              <input matInput formControlName="maxPrice" type="number" >
              <span matSuffix>{{this.elado ? eladoTexts[0] : eladoTexts[1]}}</span>
            </mat-form-field>
          </div>
        </div>
        <button mat-button class="primary-btn" type="submit">Keresés</button>
      </form>
    </div>
  </div>
  <div class="right-side flex">
    <h3>Az álomotthon többé nem csak álom!</h3>
    <h4>Keressen több száz azonnal elérhető kiadó és eladó ingatlan között.</h4>
    <button class="primary-btn" mat-button routerLink="/allexperts">Szakembert keres?</button>
  </div>
</section>
<section class="recom card">
  <h3>Frissen feltöltött ingatlanok</h3>
  <div class="flex container">
    <div class="home-card card card-hover-effect" *ngFor="let home of this.mostRecent" (click)="goToHome(home._id)">
      <img src="{{home.images[0]}}" class="icon-100p card-img">
      <p>{{home.type == "elado" ? home.price + ' Millió Ft' : home.price + ' ezer Ft/hó'}}</p>
      <p>{{home.city}}, <span *ngIf="home.city2">{{home.city2}}</span></p>
      <div class="icons flex">
        <div class="flex" >
          <img src="../../../assets/img/blueprint.png" class="icon-50">
          <span>{{home.size}} nm</span>
        </div>
        <div class="flex">
          <img src="../../../assets/img/bedroom.png" class="icon-50">
          <span>{{home.bedroom}}</span>
        </div>
        <div class="flex">
          <img src="../../../assets/img/bathroom.png" class="icon-50">
          <span>{{home.bathroom}}</span>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="services card">
  <h3>Szolgáltatások</h3>
  <div class="container flex">
    <div class="card service-card" *ngFor="let service of this.services">
      <img src="{{service.img}}" class="icon-100">
      <h5>{{service.name}}</h5>
      <p>{{service.desc}}</p>
      <a href='{{service.tag}}'><button mat-button class="primary-btn">Tovább</button></a>
    </div>
  </div>

</section>

