.search-box-container{
  display: grid;
  grid-template-columns: auto;
}
.search{
  grid-column: 1;
  grid-row: 1;
  margin: 2% 4%;
  padding: 0;
  z-index: 10;
  .left-side{
    max-width: 46%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url("../../../assets/img/martin-knize-JjT_7MwREm4-unsplash.jpg");
    background-position: center center;
    background-size: cover;
  .glass-box{
    width: 70%;
    backdrop-filter: blur(5px);
    background-color: white;
    background-color: rgba(254,254,254,0.35);
    opacity: 6;
    border: 1px solid white;
    margin: 2rem;
    border-radius: 15px;
    padding: 2rem;
    form{
      max-width: fit-content;
    }
    .numbers{
      flex-direction: column;
      .small{
        width: 35%;
      }
    }

    .radio{
      flex-direction: row;
      justify-content: flex-start;
      margin: 5px 0;
      mat-radio-button{
        margin: 3% 0;
        color: white;
        font-weight: 400;
        margin: 0 5px;
      }
    }
    button{
      align-self: flex-end;
      justify-self: flex-end;
      border-radius: 15px;
      padding: 2% 10%;
    }
  }

  }
  .right-side{
    padding: 2rem 3rem;
    flex-direction: column;
    h3{
      font-size: 2.5rem;
      font-weight: 800;
    }
    h4{
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 6.5rem;
    }
    button{
      align-self: flex-end;
      border-radius: 15px;
      padding: .4rem 1rem;
      cursor: pointer;
    }
  }
}
.show-home-search{
  opacity: 1;
}
.no-show-home-search{
  margin-left: -500px;
  opacity: 0;
}

.show-expert-search{
  margin: 2% 4%;
  opacity: 1;
}
.no-show-expert-search{
  opacity: 0;
  margin-left: 500px;
}
.expert-search{
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  padding: 0;
  .right-side{
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url("../../../assets/img/pexels-bidvine-1249611.jpg");
    background-position: center center;
    background-size: cover;
    .glass-box{
      width: 70%;
      backdrop-filter: blur(5px);
      background-color: white;
      background-color: rgba(254,254,254,0.35);
      opacity: 4;
      border: 1px solid white;
      margin: 2rem;
      border-radius: 15px;
      padding: 2rem;
      display: flex;
      justify-content: stretch;
      form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        button{
          align-self: flex-end;
          border-radius: 15px;
          padding: 5%;
        }
      }
    }
  }
  .left-side{
    width: 100%;
    padding: 2rem 3rem;
    flex-direction: column;
    h3{
      font-size: 2.5rem;
      font-weight: 800;
    }
    h4{
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 6.5rem;
    }
    button{
      align-self: flex-start;
      border-radius: 15px;
      padding: .4rem 1rem;
    }
  }
}



.recom{
  margin: 2% 4%;
  padding: 1%;

  h3{
    padding-left: 5%;
    font-size: 1.5rem;
  }
  .container{
    justify-content: center;
  }
  .home-card{
    padding: 0 0 2% 0;
    width: 25%;
    margin: 2.5%;
    .card-img{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
     p{
       padding: .5% 2%;
      &:nth-child(2){
        font-weight: 700;
        font-size: 18px;
     }
    }
    .icons{
      margin-top: 10%;
      padding: 1%;
      justify-content: space-around;
      align-items: center;
      div{
        align-items: center;
      }
      span{
        padding-left: 10%;
      }
    }
  }
}

.services{
  margin: 2% 4%;
  padding: 1%;
  h3{
    padding-left: 5%;
    font-size: 1.5rem;
  }
  .container{
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    .service-card{
      max-width: 25%;
      margin: 2% 2%;
      padding-top: 2%;
      box-shadow:0 0 4px #21ae49;
      h5{
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 460px){
  .search-box-container{
    display: grid;
    grid-template-columns: 100vw;
    .search{
      max-width: 100%;
      grid-column: 1;
      grid-row: 1;
      flex-direction: column;
      .left-side{
        max-width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        .glass-box{
          max-width: 100%;
          margin: 3%;
          form{
            max-width: 100%;
          }
          .numbers{
            max-width: 100%;
            justify-content: flex-start;
            div{
              .small{
                width: 50%;
              }

            }
          }
        }
      }
    }
    .expert-search{
      max-width: 100%;
      grid-column: 1;
      grid-row: 1;
      flex-direction: column-reverse;
      .right-side{
        max-width: 100%;
      }
      .left-side{
        padding: 5%;
        max-width:100%;
        button{
          align-self: center;
        }
      }
    }
    .show-home-search{
      opacity: 1;
    }
    .no-show-home-search{
      margin-left: -200px;
      opacity: 0;
    }

    .show-expert-search{
      margin: 2% 4%;
      opacity: 1;
    }
    .no-show-expert-search{
      opacity: 0;
      margin-left: 200px;
    }
  }

  .recom{
    .container{
      flex-direction: column;
      padding: 0 5%;
      align-items: center;
      .home-card{
        width: 100%;
        margin: 2% 0;
      }
    }
  }
  .services{
    .container{
      flex-direction: column;
      align-items: center;
      .service-card{
        max-width: 100%;
        padding: 5%;
      }
    }
  }
}

