<div class="container flex">
  <section class="expert-container card">
    <div class="basic-data">
      <h2>{{expert.firstName}} {{expert.lastName}}</h2>
      <img [src]="expert.avatar ? expert.avatar : this.noImg">
      <h3>{{expert.field}}</h3>
      <h4>{{expert.city}}</h4>
      <a *ngIf="this.authService.isLoggedIn() && this.role === 'user'" href="{{'tel:'+expert.phone}}"><button class="expert-btn" mat-button><mat-icon style="color:white">phone</mat-icon> {{expert.phone}}</button></a>
      <a *ngIf="this.authService.isLoggedIn() && this.role === 'user'" href="{{'mailto:'+expert.email}}"><button class="expert-btn" mat-button><mat-icon style="color:white">mail</mat-icon> {{expert.email}}</button></a>
      <button (click)="saveContact()" class="expert-btn" mat-button *ngIf="this.authService.isLoggedIn() && this.role === 'user'  "><mat-icon>favorite_border</mat-icon> Szakember mentése</button>
      <h5>{{this.currentRate | number: '1.1-1'}} <mat-icon [style.color]="'goldenrod'">star</mat-icon></h5>
    </div>
    <div class="introduction">
      <h2>Bemutatkozás</h2>
      <p *ngIf="expert.welcomeText">{{expert.welcomeText}}</p>
      <p *ngIf="!expert.welcomeText">{{expert.lastName}} még nem töltött fel bemutatkozást.</p>
    </div>
    <div class="prices">
      <h2>Árak</h2>
      <div *ngIf="expert.prices">
        <div *ngFor="let price of expert.prices" matTooltip="Ajánlatkérés indítása email alkalmazásban">
          <a href="{{'mailto:'+expert.email+'?subject=Ajánlatkérés '+ price.service +' szolgáltatásra&body=Kedves ' + expert.firstName +
          ' ' + expert.lastName + '!\n\nA HouseManager portálon keresztül találtam Önre, árajánlatot szerenék kérni a tárgyban szereplő szolgáltatásra.' }}">
            <div class="price-card card">
              <p>{{price.service}}</p>
              <p>{{price.price}} Forint.</p>
            </div>
          </a>
        </div>
      </div>
      <p *ngIf="!expert.prices">
        {{expert.lastName}} még nem adott meg árakat.
      </p>
    </div>
  </section>
  <section class="card ratings">
    <app-get-ratings [expert]="this.expert"></app-get-ratings>
  </section>
</div>
