.nav-bar{
  flex-direction: row;
  margin: 1% 4%;
  border: none;
  box-shadow: 0px 0px 4px grey;
  border-radius: 30px;
  padding: 0.5%;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  .small{
    display: none;
  }



  .flex-item{
    &:first-child{
      margin-left: 1%;
      margin-top: 5px;
    }

    &:nth-child(2){
      a{
        padding: 0 24px;
        transition: all .1s ease-in-out;
        &:hover{
          color: #21AE49;
        }
      }
    }
    img{
      width: 75%;
    }
    .account{
      width: 50px;
    }
  }
  .login-buttons{
    width:300px;
    button{
      padding: 2px 22px;
      margin: 0 0 0 2%;
      border-radius: 30px;
      font-weight: 400;
    }
    .login{
      background-color: none;
      box-shadow: 0 0 4px #21AE49;
    }
    .signup{
      background-color: #21AE49;
      color: white;
    }
  }
}

@media only screen and (max-width: 1000px){
  .nav-bar{
    .hide-small{
      display: none;
    }
    .small{
      display: block;
    }

    .mobile-login{
      margin-right: 3%;
      width: auto;
      align-self: center;
      mat-icon, button>mat-icon{
        color: #21AE49;
      }
      button{
        border-radius: 30px;
      }
    }
    .green-logo{
      width: 30px;
    }
  }
}

