<div class="nav-bar flex">
  <span class="flex-item">
    <a routerLink="/">
    <img src="../../../assets/Logo/TextLogo_Black.png"></a>
  </span>
  <span class="flex-item">
    <a routerLink="/allhomes">Ingatlanok</a>
    <a routerLink="/allexperts">Szakemberek</a>
    <a routerLink="">Szolgáltatások</a>
  </span>
  <span class="flex-item">
    <a *ngIf="!this.authService.isLoggedIn()" routerLink="/login"><button class="secondary-btn" mat-button>Bejelentkezés</button></a>
    <a *ngIf="!this.authService.isLoggedIn()" routerLink="/signup"><button class="primary-btn" mat-button>Regisztráció</button></a>
    <a *ngIf="this.authService.isLoggedIn()" routerLink="/userhome"><button class="primary-btn" mat-button>Profilom</button></a>
  </span>
</div>
