<div class="nav-bar flex">
  <span class="flex-item">
    <a routerLink="/">
    <img src="../../../assets/Logo/TextLogo_Black.png"></a>
  </span>
  <span class="flex-item">
    <a routerLink="/allhomes">Ingatlanok</a>
    <a routerLink="/allexperts">Szakemberek</a>
    <a routerLink="">Szolgáltatások</a>
  </span>
  <span class="flex-item">
    <a *ngIf="!loggedInUser"routerLink="/login"><button class="login" mat-button>Bejelentkezés</button></a>
    <a *ngIf="!loggedInUser" routerLink="/signup"><button class="signup"si mat-button>Regisztráció</button></a>
  </span>
</div>
