.search-filters{
  margin: 2% 4%;
  .container{
    overflow:hidden;
    width: 100%;
    padding: 0 1% 1% 1%;
    transition: height ease-in-out .2s;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    .first-line{
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
      .btns{
        flex-grow:1;
        justify-content: flex-end;
        padding: 0 2%;
      }
    }
    button{
      border-radius: 15px;
      padding: 1% 5%;
      margin: 0 1%;
      width:fit-content;
    }
    input, select{
      margin: 1% 0.75%;
    }
    .icon{
      padding: .7%;
      transition: all ease-in-out .2s;
    }
    .transformed{
      transform: rotate(180deg);
    }
  }
}
.open{
  height: 14rem;
}
.close{
  height: 3.5rem;
}

.search-results{
  margin: 1% 4%;
  padding: 2%;
  .sorting{
    justify-content: flex-end;
    .icons{
      color: #21ae49;
    }
  }
}
.no-results{
  h1{
    text-align: center;
  }
}
.results{
  flex-wrap: wrap;
  justify-content: center;

}

.home-card{
  padding: 0;
  background-color: rgba(220,220,220,0.3);
  width: 42%;
  margin: 1%;
  flex-direction: row;
  .image-container{
    position: relative;
    width: 100%;
    img{
      width: 100%;
      height: 13.5rem;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      object-fit: cover;
      padding: 0;
    }
    .overlay{
      position: absolute;
      top: 0px;
      left:0px;
      padding: 3% 0 0 0;
      width:100%;
      height: 20%;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
      span{
        margin:0 5%;
        color: white;
        font-weight: 600;
        font-size: 100%;
        &:nth-child(2){
          font-weight:400;
          font-size: 13px;
        }
      }
    }
  }
  .info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .tags{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      span{
        border-radius: 5px;
        padding: 3% 5%;
        margin: 3% 0;
        font-size: 14px;
        display: flex;
        align-content: center;
        //border: 1px solid #21ae49;
        color: #21ae49;
        font-weight: 500;
      }
    }
    .price{
      margin: 2% 5%;
      justify-content: space-evenly;
    }
    .rooms{
      display: flex;
      justify-content: space-evenly;
    }
    .buttons{
      margin-top: 6%;
      justify-content: space-around;
    }
  }



}


@media only screen and (max-width: 460px){
  .filters{
    max-height: fit-content;
  }
 .results{
  flex-direction: column;
  padding: 0 2%;
  .home-card{
    img{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }
    .overlay{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }
    width: 100%;
    flex-direction: column;
    .info-container{
      padding: 5%;
    }
  }
 }
}
