<section class="search-filters card">
<app-search-filters class="filters" [searchType]="'home'" [setQuery]="this.setQuery"></app-search-filters>
</section>
<section class="search-results card">
  <div class="sorting flex">
    <form [formGroup]="sortingForm">
      <mat-form-field appearance="outline">
        <mat-label>Rendezés szempontja</mat-label>
        <mat-select formControlName="sortingSelect">
          <mat-option *ngFor="let x of sorting" value="{{x.value}}">{{x.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="results flex">
      <div *ngIf="this.empty" class="no-results">
        <h1>Sajnáljunk, nincs a keresésnek megfelelő elem. :(</h1>
      </div>
        <div class="home-card card flex" *ngFor="let home of homes">
          <div class="image-container">
            <img src="{{home.images ? home.images[0] : ''}}">
            <div class="overlay">
              <span>{{home.city}}</span>
              <span *ngIf="home.city2">{{home.city2}}</span>
            </div>
          </div>
          <div class="info-container">
            <div class="tags">
              <span>{{home.condition}}</span>
              <span>{{home.buildingType}}</span>
            </div>
            <div class="price flex">
              <h3>{{home.type === 'elado' ? home.price + ' Millió Ft' : home.price + " ezer Ft/hó."}}</h3>
              <p>{{home.size}} nm</p>
            </div>
            <div class="rooms">
              <span>{{home.bedroom}} hálószoba</span>
              <span>{{home.bathroom}} fürdőszoba</span>
            </div>
            <div class="flex buttons">
              <button *ngIf="((this.isLoggedIn) && !(this.user.id === home.uploader))" (click)="this.homeService.saveHome(home._id)" mat-button class="secondary-btn">Mentés <mat-icon>favorite_border</mat-icon></button>
              <a routerLink="/onehome/{{home._id}}"><button mat-button class="primary-btn">Tovább<mat-icon>navigate_next</mat-icon></button></a>
            </div>
          </div>
        </div>
  </div>
</section>

