.search-filters{
  margin: 2% 4%;
  .container{
    overflow:hidden;
    width: 100%;
    padding: 0 1% 1% 1%;
    transition: height ease-in-out .2s;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    .first-line{
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
      .btns{
        flex-grow:1;
        justify-content: flex-end;
        padding: 0 2%;
      }
    }
    button{
      border-radius: 30px;
      padding: 1% 5%;
      margin: 0 1%;
      width:fit-content;
    }
    input, select{
      margin: 1% 0.75%;
    }
    .icon{
      padding: .7%;
      transition: all ease-in-out .2s;
    }
    .transformed{
      transform: rotate(180deg);
    }
  }
}
.open{
  height: 14rem;
}
.close{
  height: 3.5rem;
}

.search-results{
  margin: 1% 4%;
  .sorting{
    justify-content: flex-end;
    .icons{
      color: #21ae49;
    }
  }
  .col{
    flex-direction: column;
  }
  .row{
    flex-direction: row;
  }
}
