
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$house-manager-serverless-primary: mat.define-palette(mat.$indigo-palette);
$house-manager-serverless-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$house-manager-serverless-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$house-manager-serverless-theme: mat.define-light-theme((
  color: (
    primary: $house-manager-serverless-primary,
    accent: $house-manager-serverless-accent,
    warn: $house-manager-serverless-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($house-manager-serverless-theme);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}

.flex{
  display: flex;
}
.grid{
  display: grid;
}
.hidden{
  display: hidden;
}
.show{
  display: block;
}
.none{
  display: none;
}
.icon-25{
  width: 25px;
}
.icon-50{
  width: 45px;
}
.icon-100{
  width: 100px;
}
.icon-150{
  width: 150px;
}

.icon-20p{
  width:20%;
}
.icon-100p{
  width:100%;
}

.primary-btn, .secondary-btn{
  border-radius: 30px;
  padding: 10px 15px;
  font-weight: 500;
}

.primary-btn{
  background-color: #21AE49;
  color: white;
}

.secondary-btn{
  background-color: white;
  color: black;
  box-shadow: 0 0 4px #21AE49;
}

.card{
  border-radius: 30px;
  box-shadow: 0 0 4px grey;
  padding: 1%;
}

.input{
  border-radius: 30px;
  font-size: 1rem;
  padding: 15px 20px;
  box-shadow: 0 0 4px grey;
  border: none;
  background-color: white;
}
.input-big{
  width: 13.5rem;
}

.input-medium{
  width: 13.5rem;
}
.input-small{
  width: 8rem;
}
.input-extrasmall{
  width: 3.5rem;
}

.input-sorting{
  border-radius: 30px;
  padding: 1%;
  border: 1px solid #333;
  background: white;
  color: grey;
}

.small-margin{
  margin: 1%;
}
.medium-margin{
  margin: 3%;
}


