.images{
  margin: 2% 4%;
  justify-content: space-between;
  .gallery-container{
    max-width: 73%;
    margin: 0 1% 0 0;
    padding: 0;
    .thumbnails{
      display: flex;
      flex-direction: row;
      padding: .75%;
      img{
        max-width: 205px;
        box-shadow: 1px 1px 10px grey;
        border-radius: 15px;
      }
    }
    .big-img{
      width:100%;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
  }
  .uploader-data{
    align-items: center;
    img{
      border-radius: 100px;
      width: 60%;
      box-shadow: 0 0 10px grey;
    }
    .contact{
      margin: 3% 0 16% 0;
    }
    button{
      margin: 2% 0;
    }
  }
}
.home-data{
  margin: 2% 4%;
  justify-content: space-between;
  span{
    font-weight: 700;
  }
  .main-data{
    h3{
      width: 100%;
      margin: 5%;
      font-size:1.5rem;
    }

    p{
      margin: 0 5%;
      padding: 4% 0;
      width:100%;
    }
  }
  .additional-data{
    h4{
      width:100%;
      font-size: 1.4rem;
      margin: 2% 0;
      padding: 3% 0;
    }
  }
  .recom{
    margin: 0 3% 0 0;
    align-items: stretch;
    justify-content: space-evenly;
    h4{
      text-align: center;
      font-size: 1.1rem;
    }
    .service-card{
      justify-content: space-between;
      padding: 3% 10%;
      font-size:.9rem;
    }
  }
}

.similar-homes{
  margin: 2% 4%;
}
