<section class="flex images">
  <div class="card gallery-container">
    <div *ngIf="this.isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!this.isLoading">
      <img class="big-img" [src]="bigImage">
      <div class="thumbnails">
        <img *ngFor="let image of this.images" [src]="image" (click)="showInBig(image)">
      </div>
    </div>
  </div>
  <div class="card flex col uploader-data">
    <h2>Feltöltő adatai</h2>
    <h4>{{uploader.firstName}} {{uploader.lastName}}</h4>
    <div class="contact">
      <a *ngIf="uploader.phone" href="{{'tel:'+uploader.phone}}"><button mat-button class="primary-btn"><mat-icon>phone</mat-icon> {{uploader.phone}}</button></a>
      <a href="{{'mailto:'+uploader.email}}"><button mat-button class="primary-btn"><mat-icon>email</mat-icon> {{uploader.email}}</button></a>
    </div>
  </div>
</section>
<section class="card flex home-data">
  <div class="main-data">
    <h3>{{home.type | typePipe }} {{home.buildingType}}</h3>
    <p>Utca: <span>{{home.street}}</span></p>
    <p>Ár: <span>{{home.price}} {{home.type=='elado' ? 'Millió Ft' : 'Ezer Ft/hó'}}</span></p>
    <p>Méret: <span>{{home.size}} nm</span></p>
    <p>Ingatlan állapota: <span>{{home.condition}}</span></p>
    <p>Fűtés típusa: <span>{{home.heatingType}}</span></p>
    <p>Parkolás: <span>{{home.parking}}</span></p>
    <p>Épület szintjei: <span>{{home.levelsInBuilding}}</span></p>
    <p *ngIf="home.level">Emelet: <span>{{home.level}}</span></p>
  </div>
  <div class="additional-data">
    <h4>Város: <span>{{home.city}}</span><span *ngIf="home.city2">, {{home.city2}}  Kerület</span></h4>
    <p>Hálószobák száma: <span>{{home.bedroom}}</span></p>
    <p>Fürdőszobák száma: <span>{{home.bathroom}}</span></p>
    <p *ngIf="home.elevator != undefined">Lift: <span>{{home.elevator | yesOrNo}}</span></p>
    <p *ngIf="home.balcony != undefined">Erkély: <span>{{home.balcony | yesOrNo}}</span></p>
    <p *ngIf="home.garden!=undefined">Kert: <span>{{home.garden | yesOrNo}}</span></p>
    <p *ngIf="home.attic!=undefined">Padlás/Pince: <span>{{home.attic | yesOrNo}}</span></p>
    <p *ngIf="home.ac!=undefined">Klíma: <span>{{home.ac | yesOrNo}}</span></p>
    <p *ngIf="home.type == 'kiado' && home.smoke !=undefined">Dohányzás megenegedett: <span>{{home.smoke | yesOrNo}}</span></p>
    <p *ngIf="home.type == 'kiado' && home.pet!=undefined">Kisállat megengedett: <span>{{home.pet | yesOrNo}}</span></p>
  </div>
  <div class="recom flex col">
    <h4>Vegy igénybe szolgáltatásainkat!</h4>
    <div class="service-card card flex">
      <p>Kérje ingatlanos segítségét.</p>
      <button mat-button class="primary-btn">Bővebben</button>
    </div>
    <div class="service-card card flex">
      <p>Bérleti szerződés? Keresse jogászainkat.</p>
      <button mat-button class="primary-btn">Bővebben</button>
    </div>
    <div class="service-card card flex">
      <p>Költöztetési ajánlataink</p>
      <button mat-button class="primary-btn">Bővebben</button>
    </div>
  </div>
</section>
<section class="similar-homes card">
  <h4>Hasonló ingatlanok</h4>
  <div class="recom-container flex">
    <div class="home-card card" *ngFor="let home of this.similarHomes">
      <img src="{{home.images ? home.images[0] : ''}}">
      <div class="padding-box">
        <h3>{{home.city}}<span>{{home.city2 ? ', ' + home.city2 : ''}}</span></h3>
        <h4>{{home.type=="elado" ? home.price + " Millió Ft." : home.price + " ezer Ft/hó" }}</h4>
        <div class="spans">
          <span>Hálószobák száma: {{home.bedroom}}</span>
          <span>Méret: {{home.size}}nm</span>
        </div>
        <div class="buttons">
          <button (click)="navigate(home._id)" type="button" mat-button class="primary-btn">Tovább</button>
        </div>
      </div>
    </div>
  </div>
</section>
