<form [formGroup]="ratingForm" (ngSubmit)="sendReview()">
  <div class="flex field-container">
    <mat-form-field class="form-field">
      <mat-label>Szakember</mat-label>
      <input matInput formControlName="expert">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Értékelés</mat-label>
      <mat-select formControlName="star" required>
        <mat-option *ngFor="let star of stars" [value]="star">{{star}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Értékelés szövege</mat-label>
      <textarea matInput formControlName="review" style="height:5rem"></textarea>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-button type="button" class="secondary-btn" (click)="close()">Mégsem</button>
    <button mat-button type="submit" class="expert-btn" mat-dialog-close>Értékelés küldése</button>
  </div>
</form>
