.home-form{
  padding: 2% 3%;
  overflow: hidden;
  height: 4.3rem;
  transition: 1s ease-in-out all;
  .first-row{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .button-icon{
      transition: .3s ease-in-out all;
    }
  }
  .radio-groups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .checkbox-group{
      width: 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: .5rem 1rem;
      .icon{
        transform: scale(1.5);
      }
      label{
        margin: 7% 0;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  .buttons{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    row-gap: 0.5rem;
    .clearform-btn{
      cursor:pointer;
      margin: 0 3%;

    }
  }

  .submit-button{
    font-size: 1rem;
    float: right;
    margin: 2.5rem 1rem 1rem 1.5rem;
  }


  .radio-group{
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label{
      align-self: flex-start;
    }
    mat-radio-button{
      margin: .5rem 1rem 0 0;
    }
  }
  .city-field{
    width: 60%;
    text-transform: capitalize;
  }
  .form-field{
    margin: 0 1rem;
  }
}
.expanded{
  height: fit-content;
}
.transform{
  transform: rotate(180deg);
}

.expert-form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button{
      margin: 5% 0;
    }
  }
  .form-field{
    min-width: 35%;
  }
}


@media only screen and (max-width:460px){
  .expanded{
    height: fit-content;
    z-index: 100%;
  }
  .home-form{
    min-height: 17rem;
    transition: .3s ease-in-out all;
    .form-field{
      width: 100%;
    }
    .first-row{
      flex-direction: column;
      align-items: center;
      .radio-group{
        width: 80%;
        margin: 3% 0;
      }
    }
    .checkbox-group{
      min-width: 25%;
    }
    .hidden-panel{
      flex-direction: column;
      align-items: center;
      .form-field{
        max-width: 90%;
      }
    }
  }
  .expert-form{
    flex-direction: column;
    align-items: center;

  }
}
