<form *ngIf="searchType == 'expert'" [formGroup]="expertForm" (ngSubmit)="search('expert')">
  <div class="flex expert-form">
    <mat-form-field  appearance="outline" class="form-field">
      <mat-label>Város</mat-label>
      <input matInput formControlName="city" [style.text-transform]="'capitalize'">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Szakterület</mat-label>
      <mat-select matInput formControlName="field">
        <mat-option *ngFor="let field of this.fields" [value]="field">
          {{field}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons">
      <button [disabled]="this.expertForm.pristine" mat-button class="secondary-btn" type="button" (click)="clearForm()">Feltételek törlése</button>
      <button mat-button class="primary-btn" type="submit">Keresés</button>
    </div>
  </div>
</form>

<form class="home-form" *ngIf="searchType=='home'"  [formGroup]="homeForm" [ngClass]="this.open ? 'expanded' : ''" (ngSubmit)="search('home')">
  <div class="first-row">
    <div class="radio-group card">
      <label class="radio-label">Ingatlan típusa</label>
      <mat-radio-group name="type" formControlName="type" required class="radio-group-buttons">
        <mat-radio-button value="elado">Eladó</mat-radio-button>
        <mat-radio-button value="kiado">Kiadó</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field  appearance="outline" required class="form-field city-field">
      <mat-label>Város</mat-label>
      <input matInput formControlName="city" type="text" [style.text-transform]="'capitalize'">
      <button matSuffix mat-icon-button type="submit"><mat-icon>search</mat-icon></button>
    </mat-form-field>
    <div class="buttons">
      <button mat-button class="secondary-btn" [disabled]="this.homeForm.pristine" type="button" (click)="clearForm()">Feltételek törlése</button>
      <button class="expand-button primary-btn" mat-button type="button" (click)="expand()">
        Részletes keresés <mat-icon class="button-icon" [ngClass]="this.open ? 'transform' : ''">expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div class="hidden-panel">
    <mat-form-field  appearance="outline" class="form-field small" *ngIf="this.homeForm.get('city')?.value === 'Budapest'">
      <mat-label>Kerület</mat-label>
      <mat-select formControlName="city2" multiple>
        <mat-option *ngFor="let dist of this.city2" [value]="dist">
          {{dist}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span formGroupName="price" class="inline-span" >
      <mat-form-field  appearance="outline" class="form-field">
        <mat-label>Ingatlan ára (min)</mat-label>
        <input matInput type="number" formControlName="minPrice">
        <span matSuffix>{{this.homeForm.get('type')?.value == "elado" ? "Millió Ft." : "Ezer Ft/hó"}}</span>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field ">
        <mat-label>Ingatlan ára (max)</mat-label>
        <input matInput type="number" formControlName="maxPrice">
        <span matSuffix>{{this.homeForm.get('type')?.value == "elado" ? "Millió Ft." : "Ezer Ft/hó"}}</span>
      </mat-form-field>
    </span>
    <mat-form-field  appearance="outline" class="form-field medium">
      <mat-label>Ingatlan állapota</mat-label>
      <mat-select formControlName="condition" multiple>
        <mat-option *ngFor="let con of this.condition" [value]="con">
          {{con}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="form-field medium">
      <mat-label>Ingatlan típusa</mat-label>
      <mat-select formControlName="buildingType" multiple>
        <mat-option *ngFor="let type of this.buildingType" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="inline-span" formGroupName="level">
      <mat-form-field  appearance="outline" class="form-field">
        <mat-label>Ingatlan szintje (min)</mat-label>
        <input matInput type="number" formControlName="minLevel">
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field">
        <mat-label>Ingatlan szintje (max)</mat-label>
        <input matInput type="number" formControlName="maxLevel">
      </mat-form-field>
    </span>
    <span formGroupName="size" class="inline-span">
      <mat-form-field  appearance="outline" class="form-field">
        <mat-label>Ingatlan mérete (min)</mat-label>
        <input matInput type="number" formControlName="minSize">
        <span matSuffix>nm</span>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="form-field ">
        <mat-label>Ingatlan mérete (max)</mat-label>
        <input matInput type="number" formControlName="maxSize">
        <span matSuffix>nm</span>
      </mat-form-field>
    </span>
    <mat-form-field  appearance="outline" class="form-field small">
      <mat-label>Hálószobák száma (min)</mat-label>
      <input matInput type="number" formControlName="minBedroom">
    </mat-form-field>
    <mat-form-field  appearance="outline" class="form-field small">
      <mat-label>Fürdőszobák száma (min)</mat-label>
      <input matInput type="number" formControlName="minBathroom">
    </mat-form-field>
    <mat-form-field  appearance="outline" class="form-field medium">
      <mat-label>Fütés típusa</mat-label>
      <mat-select formControlName="heatingType" multiple>
        <mat-option *ngFor="let het of this.heating" [value]="het">
          {{het}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="form-field medium">
      <mat-label>Parkolás</mat-label>
      <mat-select formControlName="parking" multiple>
        <mat-option *ngFor="let park of this.parking" [value]="park">
          {{park}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="radio-groups">
    <div class="checkbox-group" *ngFor="let extra of extras">
      <mat-icon class="icon">{{extra.icon}}</mat-icon>
      <label>{{extra.name}}</label>
      <mat-checkbox formControlName="{{extra.value}}"></mat-checkbox>
    </div>
  </div>
  <button type="submit" mat-button class="primary-btn submit-button">Keresés</button>
</form>

